## Files GitHub ignores

# Dont upload the compiled installers
Windows/WordMat*.exe
Mac/WordMat*.pkg

# Dont upload temp copies
Windows/WordMat*- Kopi*.dotm

Windows/WordMat*.iss
Mac/WordMat*.pkgproj

# Dont upload Backup folders
/Windows/Backup/
/Windows/VBA-Modules-Backup*/
/Mac/Backup/

#mac folder files
*/.DS_Store
*/*/.DS_Store
**/.DS_Store
