## Files GitHub ignores

# This file exceeds GitHubs 100 MB filelimit. It is required to build the Mac version
# Get the file from the most recent installer. It will be placed in folder: /Library/Application support/Microsoft/Office365/User Content/Add-ins/WordMat/
Mac/ExternalPrograms/Maxima.app

# Dont upload the compiled installers
Windows/WordMat*.exe
Mac/WordMat*.pkg

# Dont upload temp copies
Windows/WordMat*- Kopi*.dotm

#Windows/WordMatP.dotm

/Windows/WordMat*.iss

# Dont upload Backup folders
/Windows/Backup/
/Windows/VBA-Modules-Backup*/
/Mac/Backup/

#mac folder files
*/.DS_Store
*/*/.DS_Store
**/.DS_Store
