## Files GitHub ignores

# This file exceeds GitHubs 100 MB filelimit. It is required to build the Mac version
# Get the file from the most recent installer. It will be placed in folder: /Library/Application support/Microsoft/Office365/User Content/Add-ins/WordMat/
Mac/WordMat/Maxima.app

#\Contents\Resources\maxima\lib\maxima\5.38.0\binary-sbcl\maxima.core

# Dont upload the compiled installers
Windows/WordMat.exe
Mac/WordMat.pkg
